

#login {
    float: left;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}


#loginReset {
    display: block;
    float: left;
    width: 60%;
    height: 80px;
    padding-bottom: 80px;
    margin-left: 20%;
    margin-right: 20%;
}


#divLogin {
    float: right;
    margin-right: 50px;
    width: 150px;
}
#divReset {
    float: right;
    margin-right: 50px;
    width: 150px;
}
input[type=submit] {
    float: right;
    font-size: 18px;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 10px;
    padding: 10px;
    width: 150px;
}
input[type=reset] {
    float: right;
    font-size: 18px;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 10px;
    padding: 10px;
    width: 150px;
}


#fieldsetUpload {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 30px;
    border: 2px solid #000;
    border-radius: 10px;
}
#normal {
    margin: 50px;
    padding: 30px;
    border: 2px solid #000;
    border-radius: 10px;
}
legend {
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    margin-left: 10%;
    font-size: 20px;
}
#labelForm {
    display: block;
    padding: 5px;
    text-align: left;
    margin-left: 10px;
    font-size: 16px;
}
input[type=email] {
    display: block;
    font-size: 18px;
    margin-bottom: 20px;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 10px;
    padding: 10px;
    width: 95%;
}
input[type=password] {
    display: block;
    font-size: 18px;
    margin-bottom: 20px;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 10px;
    padding: 10px;
    width: 95%;
}

